<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://cdn.datatables.net/1.9.4/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    @Styles.Render("~/Content/css")

    <style>
        br {
            clear: left
        }

        .menu {
            width: 100%;
            background-color: #005555;
            position: relative;
            top: -50px;
         }

        .menu ul {
            margin: 0;
            padding: 0;
            float: left;
        }

        .menu ul li {
            display: inline;
        }

        .menu ul li a {
            float: left;
            text-decoration: none;
            color: white;
            padding: 10.5px 11px;
            background-color: #005555;
        }

        .menu ul li a:visited {
            color: white;
        }

        .menu ul li a:hover, .menu ul li .current {
            color: white;
            background-color: #5FD367;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        <div class="menu">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Disciplines", "Index", "Disciplines", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Professors", "Index", "Professors", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Scores", "Index", "Scores", new { area = "" }, new { @class = "" })</li>
                <li>@Html.ActionLink("Semesters", "Index", "Semesters", new { area = "" }, new { @class = "" })</li>
            </ul>
            <br />
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.9.4/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/studentSystemApi.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
