@using StudentSystem.Clients.Web.Models.Scores

@model IEnumerable<ScoreResponseViewModel>
@{
    ViewBag.Title = "Scores";
}

<style>
    #SaveChanges {
        float: right;
        margin-bottom: 20px;
    }
</style>

<button id="Create">Create</button>
<button id="SaveChanges">Save Changes</button>

<table id="ScoresTable" class="dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Mark</th>
            <th>Student Id</th>
            <th>Discipline Id</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var score in Model)
        {
            <tr>
                <td>@score.Id</td>
                <td>@score.Mark</td>
                <td>@score.StudentId</td>
                <td>@score.DisciplineId</td>
                <td>@score.CreatedOn</td>
                <td>@score.ModifiedOn</td>
                <td>
                    <button class="update ui-button ui-corner-all">Update</button>
                    <button class="delete ui-button ui-corner-all">Delete </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            let $scoresTable = $('#ScoresTable').DataTable({
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'asc']]
            });

            $('#Create').button().on('click', function () {
                const mark = '<input type="text" name="score-mark" style="width:400px" />';
                const studentId = '<input type="text" name="score-studentId" style="width:400px" />';
                const disciplineId = '<input type="text" name="score-disciplineId" style="width:400px" />';

                $scoresTable.fnAddData(['', mark, studentId, disciplineId, '', '', '']);
            });

            $('#SaveChanges').button().on("click", function () {
                $('input').hide();

                const requestModel = {
                    Mark: $('table tbody input[name="score-mark"]').val(),
                    StudentId: $('table tbody input[name="score-studentId"]').val(),
                    DisciplineId: $('table tbody input[name="score-disciplineId"]').val()
                };

                const rowIndex = $('table tbody input[name="score-mark"]').parent().parent().index();

                studentSystemApi.post('/Scores/Create', requestModel, successfullyCreatedScore, rowIndex);
            });

            function successfullyCreatedScore(data, rowIndex) {
                $scoresTable.fnUpdate(data.Id, rowIndex, 0);
                $scoresTable.fnUpdate(data.Mark, rowIndex, 1);
                $scoresTable.fnUpdate(data.StudentId, rowIndex, 2);
                $scoresTable.fnUpdate(data.DisciplineId, rowIndex, 3);
                $scoresTable.fnUpdate(data.CreatedOn, rowIndex, 4);
                $scoresTable.fnUpdate(data.ModifiedOn, rowIndex, 5);

                alert('Sucessfully created score!');
            }
        });
    </script>
}