@using StudentSystem.Clients.Web.Models.Disciplines

@model IEnumerable<DisciplineResponseViewModel>
@{
    ViewBag.Title = "Disciplines";
}

<style>
    #SaveChanges {
        float: right;
        margin-bottom: 20px;
    }
</style>

<button id="Create">Create</button>
<button id="SaveChanges">Save Changes</button>

<table id="DisciplinesTable" class="dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Semester Id</th>
            <th>Professor Id</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var discipline in Model)
        {
            <tr>
                <td class="discipline-id">@discipline.Id</td>
                <td class="discipline-name"><span>@discipline.Name</span></td>
                <td class="discipline-semesterId"><span>@discipline.SemesterId</span></td>
                <td class="discipline-professorId"><span>@discipline.ProfessorId</span></td>
                <td>@discipline.CreatedOn</td>
                <td>@discipline.ModifiedOn</td>
                <td>
                    <button class="update ui-button ui-corner-all">Update</button>
                    <button class="cancel ui-button ui-corner-all">Cancel</button>
                    <button class="delete ui-button ui-corner-all">Delete </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.cancel').hide();

            let $disciplinesTable = $('#DisciplinesTable').DataTable({
                "sPaginationType": "full_numbers",
                "aaSorting": [[0, 'asc']]
            });

            $('#Create').button().on('click', function () {
                const name = '<input type="text" name="discipline-name" style="width:400px" />';
                const semesterId = '<input type="text" name="discipline-semesterId" style="width:400px" />';
                const professorId = '<input type="text" name="discipline-professorId" style="width:400px" />';

                $disciplinesTable.fnAddData(['', name, semesterId, professorId, '', '', '']);
            });

            $(".update").click(function () {
                let $column = $(this).parent();
                let disciplineName = $column.siblings('.discipline-name').children('span').html();
                let semesterId = $column.siblings('.discipline-semesterId').children('span').html();
                let professorId = $column.siblings('.discipline-professorId').children('span').html();

                $column.siblings('.discipline-name').children('span').hide();
                $column.siblings('.discipline-semesterId').children('span').hide();
                $column.siblings('.discipline-professorId').children('span').hide();

                $column.siblings('.discipline-name')
                    .append('<input type="text" name="discipline-name" style="width:400px" value="' + disciplineName + '" />');

                $column.siblings('.discipline-semesterId')
                    .append('<input type="text" name="discipline-semesterId" style="width:400px" value="' + semesterId + '" />');

                $column.siblings('.discipline-professorId')
                    .append('<input type="text" name="discipline-professorId" style="width:400px" value="' + professorId + '" />');

                $(this).hide();
                $(this).siblings('.cancel').show();
                $('.update').attr("disabled", true);
            });

            $(".cancel").click(function () {
                let $column = $(this).parent();
                $('input').hide();

                $column.siblings('.discipline-name').children('span').show();
                $column.siblings('.discipline-semesterId').children('span').show();
                $column.siblings('.discipline-professorId').children('span').show();

                $(this).hide();
                $(this).siblings('.update').show();
                $('.update').attr("disabled", false);
            });

            $('#SaveChanges').button().on("click", function () {
                $('input').hide();

                const requestModel = {
                    Id: $('table tbody input[name="discipline-name"]').parent().siblings('.discipline-id').html(),
                    Name: $('table tbody input[name="discipline-name"]').val(),
                    SemesterId: $('table tbody input[name="discipline-semesterId"]').val(),
                    ProfessorId: $('table tbody input[name="discipline-professorId"]').val()
                };

                const rowIndex = $('table tbody input[name="discipline-name"]').parent().parent().index();

                if (requestModel.Id) {
                    studentSystemApi.post('/Disciplines/Update', requestModel, successfullyUpdatedDiscipline, rowIndex);
                }
                else {
                    studentSystemApi.post('/Disciplines/Create', requestModel, successfullyCreatedDiscipline, rowIndex);
                }
            });

            $('.delete').on("click", function () {
                let row = $(this).parent();
                let disciplineId = row.siblings('.discipline-id').html();

                studentSystemApi.post('/Disciplines/Delete', { "Id": disciplineId }, successfullyDeletedDiscipline, row);
            });

            function successfullyCreatedDiscipline(data, rowIndex) {
                $disciplinesTable.fnUpdate(data.Id, rowIndex, 0);
                $disciplinesTable.fnUpdate(data.Name, rowIndex, 1);
                $disciplinesTable.fnUpdate(data.SemesterId, rowIndex, 2);
                $disciplinesTable.fnUpdate(data.ProfessorId, rowIndex, 3);
                $disciplinesTable.fnUpdate(data.CreatedOn, rowIndex, 4);
                $disciplinesTable.fnUpdate(data.ModifiedOn, rowIndex, 5);

                alert('Sucessfully created discipline!');
            }

            function successfullyUpdatedDiscipline(data, rowIndex) {
                $disciplinesTable.fnUpdate(data.Name, rowIndex, 1);
                $disciplinesTable.fnUpdate(data.SemesterId, rowIndex, 2);
                $disciplinesTable.fnUpdate(data.ProfessorId, rowIndex, 3);
                $disciplinesTable.fnUpdate(data.ModifiedOn, rowIndex, 5);

                alert('Sucessfully updated discipline!');
            }

            function successfullyDeletedDiscipline(isDeleted, row) {
                if (isDeleted == true) {
                    $disciplinesTable.fnDeleteRow(row.parent()[0]);

                    alert('Sucessfully deleted discipline!');
                }
            }
        });
    </script>
}