@using StudentSystem.Clients.Web.Models.Home

@model IEnumerable<StudentViewModel>
@{
    ViewBag.Title = "Home Page";
}

    <table id="StudentDetails" class="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Email</td>
                    <td>@student.DateOfBirth</td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        <script>
            $('#StudentDetails').DataTable();
        </script>
    }
