@using StudentSystem.Clients.Web.Models.Home

@model IEnumerable<ReportSemesterViewModel>
@{
    ViewBag.Title = "Home Page";
}

<style>
    tr {
        text-align: center;
    }
</style>

<table id="Reports" class="dataTable">
    <thead>
        <tr>
            <th>Details</th>
            <th>Id</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var semester in Model)
        {
            <tr>
                <td class="report-details"><img class="details-img" src="~/Content/Images/details_open.png" /></td>
                <td>@semester.Id</td>
                <td>@semester.Name</td>
                <td>@semester.StartDate</td>
                <td>@semester.EndDate</td>
            </tr>
            <tr class="details-row">
                <td colspan="7">
                    @Html.Partial("_DisciplinesReportPartial", semester.Disciplines);
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.details-row').hide();
 
            $('#Reports tbody .report-details').on('click', function () {
                let detailsRow = $(this).parents('tr')[0];
                let image = $(detailsRow).children('.report-details').children('.details-img')[0];

                let $toggleRow = $(detailsRow).next('.details-row');
                $toggleRow.toggle();

                if ($toggleRow.is(":visible")) {
                    image.src = "../Content/Images/details_close.png";
                }
                else {
                    image.src = '../Content/Images/details_open.png';
                }
            });
        });
    </script>
}